<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [136]:
# Carga el dataset de trabajo
import pandas as pd
import numpy as np

df = pd.read_csv("datos/netflix_merge.csv", index_col=0)

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [34]:
condicion_fecha = df["release_year"] == 2021
condicion_genero = df["Genre"] == "Movie"
df_titulos = df[condicion_fecha][condicion_genero]
df_titulos.head()

C:\Users\ivigo\AppData\Local\Temp\ipykernel_56916\1608354187.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_titulos = df[condicion_fecha][condicion_genero]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Title, Genre, Premiere, Runtime, IMDB Score, Language]
Index: []

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [35]:
condicion_duracion = df["duration"] == "90 min"
df_duracion = df[condicion_duracion]
df_duracion[["title", "duration"]]

                                       title duration
0                       Dick Johnson Is Dead   90 min
33                                Seaspiracy   90 min
52                               June & Kopi   90 min
58   Crack: Cocaine, Corruption & Conspiracy   90 min
162                             Fatal Affair   90 min
176                      One-Way to Tomorrow   90 min
186                          The Wrong Missy   90 min
245                             American Son   90 min
301                                 Good Sam   90 min
318                                  Juanita   90 min
370                          The After Party   90 min
380                            Recovery Boys   90 min
502                    Pee-wee's Big Holiday   90 min

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [36]:
condicion_pais = df["country"] == "India"
condicion_fecha = df["release_year"] > 2018
df_pais_fecha = df[condicion_pais][condicion_fecha]
df_pais_fecha["title"].reset_index()

C:\Users\ivigo\AppData\Local\Temp\ipykernel_56916\3476446157.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_pais_fecha = df[condicion_pais][condicion_fecha]

    index                           title
0       8              Sardar Ka Grandson
1      13                       Milestone
2      15                    The Disciple
3      18                 Ajeeb Daastaans
4      31                        Pagglait
5      40           The Girl on the Train
6      66                        AK vs AK
7      94                            Ludo
8      99                     Kaali Khuhi
9     113               Rooting for Roona
10    116                Ginny Weds Sunny
11    119                     Serious Men
12    134                           Cargo
13    143                    Class of '83
14    152  Gunjan Saxena: The Kargil Girl
15    155                  Raat Akeli Hai
16    172                         Bulbbul
17    180         Choked: Paisa Bolta Hai
18    190              Mrs. Serial Killer
19    207                           Maska
20    217                          Guilty
21    220                      Yeh Ballet
22    227                   Ghost Stories
23    242                    House Arrest
24    246                           Drive
25    260                        Upstarts
26    293                      Chopsticks
27    306                   Music Teacher
28    311                       15 August
29    321                       Firebrand

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [37]:
condicion_clasificacion = df["rating"] == "TV-14"
condicion_clasificacion2 = df["rating"] == "R"

df[condicion_clasificacion | condicion_clasificacion2]["title"].reset_index()

     index                                             title
0        1                                        Extraction
1        7                                  Army of the Dead
2        8                                Sardar Ka Grandson
3       11                           The Woman in the Window
4       12                                            Oxygen
..     ...                                               ...
136    504                           A Very Murray Christmas
137    507               Keith Richards: Under the Influence
138    508                                               Tig
139    509                       What Happened, Miss Simone?
140    511  The Other One: The Long Strange Trip of Bob Weir

[141 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [91]:
condicion_directores = df["director"] == "Christopher Nolan"
condicion_directores2 = df["director"] == "Martin Scorsese"

df[condicion_directores | condicion_directores2][["title", "director"]].reset_index()

# df_prueba["director"].str.contains("^c", case=False, na=False)

#patron_regex = r"^christo"
#filtro = df_prueba["director"].str.contains(patron_regex, case=False, na=False)
#df_filtrado = df_prueba[filtro]
#df_filtrado.sort_values(by="director")

   index         title         director
0    237  The Irishman  Martin Scorsese

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [112]:
paises = ["United States", "United Kingdom", "Canada"]
condicion_lenguajes = df["Language"].value_counts()
df[df["country"].isin(paises)][["title", "country"]]
df["Language"].str.contains(r"\w*/\w*", case=False)

0      False
1      False
2      False
3      False
4      False
       ...
508    False
509    False
510    False
511    False
512    False
Name: Language, Length: 513, dtype: bool

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [120]:
condicion_fecha = df["release_year"].between(2015, 2020, inclusive="both")
df[condicion_fecha][["title", "release_year"]]

                                                title  release_year
0                                Dick Johnson Is Dead          2020
1                                          Extraction          2015
42                                       Layla Majnun          2020
49                                  The Last Paradiso          2020
54                                         Double Dad          2020
..                                                ...           ...
508                                               Tig          2015
509                       What Happened, Miss Simone?          2015
510                                  Hot Girls Wanted          2015
511  The Other One: The Long Strange Trip of Bob Weir          2015
512                                        My Own Man          2015

[456 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [123]:
condicion_puntuacion = df["IMDB Score"].between(6.5, 8.0)
condicion_duracion = df["duration"].isnull()

df[condicion_puntuacion][condicion_duracion][["title", "duration"]].reset_index()

C:\Users\ivigo\AppData\Local\Temp\ipykernel_56916\1738842206.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[condicion_puntuacion][condicion_duracion][["title", "duration"]].reset_index()

    index                        title duration
0       3                 Blue Miracle      NaN
1      12                       Oxygen      NaN
2      14                      Monster      NaN
3      19       Arlo the Alligator Boy      NaN
4      30                     Bad Trip      NaN
..    ...                          ...      ...
72    487               Audrie & Daisy      NaN
73    497   The Fundamentals of Caring      NaN
74    500              Team Foxcatcher      NaN
75    508                          Tig      NaN
76    509  What Happened, Miss Simone?      NaN

[77 rows x 3 columns]

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [139]:
lista_duraciones = ["90 min", "150 min"]
condicion_duracion = df["duration"].isin(lista_duraciones)

df[condicion_duracion][["title", "duration"]]

                                       title duration
0                       Dick Johnson Is Dead   90 min
33                                Seaspiracy   90 min
52                               June & Kopi   90 min
58   Crack: Cocaine, Corruption & Conspiracy   90 min
94                                      Ludo  150 min
155                           Raat Akeli Hai  150 min
162                             Fatal Affair   90 min
176                      One-Way to Tomorrow   90 min
186                          The Wrong Missy   90 min
245                             American Son   90 min
301                                 Good Sam   90 min
318                                  Juanita   90 min
370                          The After Party   90 min
380                            Recovery Boys   90 min
502                    Pee-wee's Big Holiday   90 min

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [164]:
patron_regex = r"love"
condicion_titulo = df["title"].str.contains(patron_regex, case=False)
condicion_tipo = df["type"] == "TV Show"

df[condicion_titulo & condicion_tipo]["title"].reset_index()

Empty DataFrame
Columns: [index, title]
Index: []

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [163]:
patron_regex = r"johnson"
condicion_director = df["director"].str.contains(patron_regex, case=False, na=False)

df[condicion_director][["title", "director"]]

                    title             director
0    Dick Johnson Is Dead      Kirsten Johnson
138      Love, Guaranteed  Mark Steven Johnson
318               Juanita        Clark Johnson
385      Alex Strangelove        Craig Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [162]:
condicion_tipo = df["listed_in"] == "Documentaries"
patron_regex = r"mike tyson"
condicion_cast = df["cast"].str.contains(patron_regex, case=False, na=False)

df[condicion_tipo & condicion_cast][["title", "listed_in", "cast"]]

Empty DataFrame
Columns: [title, listed_in, cast]
Index: []

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [193]:
df[["title", "country", "release_year"]]

,title,country,release_year
0,Dick Johnson Is Dead,United States,2020
1,Extraction,"United States, United Kingdom, Canada",2015
2,Prime Time,NaN,2021
3,Blue Miracle,United States,2021
4,Ghost Lab,Thailand,2021
...,...,...,...
508,Tig,United States,2015
509,"What Happened, Miss Simone?",United States,2015
510,Hot Girls Wanted,United States,2015
511,The Other One: The Long Strange Trip of Bob Weir,United States,2015
512,My Own Man,United States,2015

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [182]:
df.filter(regex=r"date", axis=1)

             date_added
0    September 25, 2021
1     September 1, 2021
2         June 30, 2021
3          May 27, 2021
4          May 27, 2021
..                  ...
508       July 17, 2015
509       June 26, 2015
510        May 29, 2015
511        May 22, 2015
512       March 6, 2015

[513 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [189]:
df.query("country == 'France' and duration == '80 min'")

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Title, Genre, Premiere, Runtime, IMDB Score, Language]
Index: []

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [190]:
condicion_tipo = df["type"] == "Movie"
condicion_fecha = df["release_year"] < 2010

df[condicion_tipo & condicion_fecha][["title", "type", "release_year"]]

#df["release_year"].describe().reset_index()

Empty DataFrame
Columns: [title, type, release_year]
Index: []

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [200]:
df.nlargest(10, "IMDB Score").filter(["title", "IMDB Score"])

                                           title  IMDB Score
118     David Attenborough: A Life on Our Planet         9.0
336                      Springsteen on Broadway         8.5
506  Winter on Fire: Ukraine's Fight for Freedom         8.4
255                       Dancing with the Birds         8.3
421                       Cuba and the Cameraman         8.3
33                                    Seaspiracy         8.2
114        The Three Deaths of Marisela Escobedo         8.2
243                                        Klaus         8.2
136                           My Octopus Teacher         8.1
142                               Rising Phoenix         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [201]:
df.nsmallest(5, "IMDB Score").filter(["title", "IMDB Score"])

               title  IMDB Score
281  Enter the Anime         2.5
144      Dark Forces         2.6
228          The App         2.6
416   The Open House         3.2
99       Kaali Khuhi         3.4

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [203]:
df[df["director"].isnull()].head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
24,s1093,Movie,Dolly Parton: A MusiCares Tribute,NaN,Dolly Parton,NaN,"April 7, 2021",2021,TV-PG,55 min,"Documentaries, Music & Musicals",In a star-studded evening of music and memorie...,Dolly Parton: A MusiCares Tribute,Documentary,"April 7, 2021",55,6.5,English
30,s1158,Movie,Bad Trip,NaN,"Eric André, Lil Rel Howery, Tiffany Haddish, M...",United States,"March 26, 2021",2021,TV-MA,NaN,Comedies,"In this hidden-camera prank comedy, two best f...",Bad Trip,Hidden-camera prank comedy,"March 26, 2021",86,6.6,English
59,s1432,Movie,Stuck Apart,NaN,"Engin Günaydın, Haluk Bilginer, Binnur Kaya, Ö...",Turkey,"January 8, 2021",2021,TV-MA,NaN,"Comedies, Dramas, International Movies","Entrenched in a midlife crisis, Aziz seeks sol...",Stuck Apart,Drama,"January 8, 2021",96,6.1,Turkish
62,s1467,Movie,The Minimalists: Less Is Now,NaN,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,The Minimalists: Less Is Now,Documentary,"January 1, 2021",53,5.9,English
70,s1519,Movie,Ma Rainey's Black Bottom: A Legacy Brought to ...,NaN,"Glynn Turman, Denzel Washington, George C. Wol...",NaN,"December 18, 2020",2020,TV-PG,32 min,"Documentaries, Music & Musicals","Viola Davis, Denzel Washington, George C. Wolf...",Ma Rainey's Black Bottom: A Legacy Brought to ...,Aftershow / Interview,"December 18, 2020",31,7.0,English

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [213]:
# df[df[["title", "country", "IMDB Score"]].notnull()][["title", "country", "IMDB Score"]]
filtro = df["title"].notna()
filtro2 = df["country"].notna()
filtro3 = df["IMDB Score"].notna()

df[filtro & filtro2 & filtro3]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English
4,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,"May 27, 2021",2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Ghost Lab,Horror,"May 26, 2021",117,5.2,Thai
5,s841,Movie,Baggio: The Divine Ponytail,Letizia Lamartire,"Andrea Arcangeli, Valentina Bellè, Andrea Penn...",Italy,"May 26, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Sports Movies","The story of Roberto Baggio, one of the best s...",Baggio: The Divine Ponytail,Biopic,"May 26, 2021",92,6.2,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,"July 17, 2015",2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Tig,Documentary,"July 17, 2015",80,7.4,English
509,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,"June 26, 2015",2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...","What Happened, Miss Simone?",Documentary,"June 26, 2015",84,7.6,English
510,s5911,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,"May 29, 2015",2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Hot Girls Wanted,Documentary,"May 29, 2015",84,6.1,English
511,s5913,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,"May 22, 2015",2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,The Other One: The Long Strange Trip of Bob Weir,Documentary,"May 22, 2015",83,7.3,English
512,s5917,Movie,My Own Man,David Sampliner,David Sampliner,United States,"March 6, 2015",2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,My Own Man,Documentary,"December 13, 2014",81,6.4,English

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [217]:
df[df["title"].duplicated()]["title"].reset_index()

Empty DataFrame
Columns: [index, title]
Index: []